<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../libs/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body style="visibility: hidden;">
		<div class="wrap">
			<header>
				<img src="../img/arrow2.png" alt="arrow" class="comeback"/>
				<h2><span localeString='title'>目的港</span></h2>
			</header>
			<section class="content">
				<section class="search">
					<div class="text_box" id="text">
						<input type="text"/>
						<span localeString='hint'>请输入港口名称或简称</span>
					</div>
					<img src="../img/search.png" alt="search" />
				</section>
				<section class="container">
					<div class="header_box">
						<div class="header active" id="hot"><span localeString='Hot port'>热门港口</span></div>
						<div class="header"><span localeString='All ports'>全部港口</span></div>
					</div>
					<div class="line"></div>
					<div class="enterances enterances1" style="display: block;">
						<div class="tab" id="tab">
							<div class="box" id="hotLine">
								<div class="header"><span>澳新线</span></div>
								<div class="header"><span>东南亚</span></div>
								<div class="header active"><span>美加线</span></div>
								<div class="header"><span>南非南美</span></div>
								<div class="header"><span>欧地线</span></div>
								<div class="header"><span>日韩线</span></div>
								<div class="header"><span>印巴线</span></div>
								<div class="header"><span>远东</span></div>
								<div class="header"><span>中东红海</span></div>
							</div>
							<div class="content" id="hotContent">
							</div>
							
							</div>
					</div>
					<div class="enterances enterances2" style="display: none;" id="enterances2">
						<ol class="sidebar">
						<li><a href="#A">A</a></li>
						<li><a href="#B">B</a></li>
						<li><a href="#C">C</a></li>
						<li><a href="#D">D</a></li>
						<li><a href="#E">E</a></li>
						<li><a href="#F">F</a></li>
						<li><a href="#G">G</a></li>
						<li><a href="#H">H</a></li>
						<li><a href="#I">I</a></li>
						<li><a href="#J">J</a></li>
						<li><a href="#K">K</a></li>
						<li><a href="#L">L</a></li>
						<li><a href="#M">M</a></li>
						<li><a href="#N">N</a></li>
						<li><a href="#O">O</a></li>
						<li><a href="#P">P</a></li>
						<li><a href="#Q">Q</a></li>
						<li><a href="#R">R</a></li>
						<li><a href="#S">S</a></li>
						<li><a href="#T">T</a></li>
						<li><a href="#U">U</a></li>
						<li><a href="#V">V</a></li>
						<li><a href="#W">W</a></li>
						<li><a href="#X">X</a></li>
						<li><a href="#Y">Y</a></li>
						<li><a href="#Z">Z</a></li>
					</ol> 
					</div>
					
				</section>
			</section>
		</div>
		<script src="../libs/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/getPorts.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/resource.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/setLanguage.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/focus.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/tab.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
//			$('#enterances2').scroll(function(){
//				console.log($('#enterances2').scrollTop())
//			});
			
		</script>
	</body>
</html>
